<!--
template: default
-->
<page title="Author Posts">
<content>
  <script type="module" src="/blog/components/PostList.js"></script>
  <script type="module" src="/blog/components/PostSummary.js"></script>
  <script type="module" src="/blog/components/PostAuthor.js"></script>
  <script type="module" src="/blog/components/PostTags.js"></script>
  <h1 id="author-heading">Posts</h1>
  <k-blog-post-list id="post-list" status="published"></k-blog-post-list>
  <script type="module">
    const parts = location.pathname.split('/');
    const authorId = parts[parts.length - 1] || parts[parts.length - 2];
    if(authorId){
      document.getElementById('post-list').setAttribute('author', authorId);
      document.getElementById('author-heading').textContent = `Posts by ${authorId}`;
    }
  </script>
</content>
</page>
